<html>
<body bgcolor="#1A1A1A" text="#E0E0E0">
  <h1 align="center"><font color="#00FFFF">SESSION MIX NOTES</font></h1>
  <hr>
  <table border="1" width="100%" cellpadding="5">
    <tr bgcolor="#333333">
      <th>Category</th>
      <th>Task / Revision</th>
      <th>Status</th>
    </tr>
    <tr>
      <td><b>DRUMS</b></td>
      <td>Kick needs more sub (40Hz boost)</td>
      <td><font color="orange">IN PROGRESS</font></td>
    </tr>
    <tr>
      <td><b>VOCALS</b></td>
      <td>De-ess the sibilance on Verse 2</td>
      <td><font color="green">DONE</font></td>
    </tr>
    <tr>
      <td><b>FX</b></td>
      <td>Make transition riser wider</td>
      <td><font color="red">TODO</font></td>
    </tr>
  </table>
  <p><i>Next Steps: Bounce stems for mastering.</i></p>
</body>
</html>
